<?xml version="1.0" encoding="utf8"?>
<web-app 
        xmlns="http://java.sun.com/xml/ns/javaee" 
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
        version="2.5">
    <servlet>
        <servlet-name>Antispam</servlet-name>
        <servlet-class>org.example.Antispam</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Antispam</servlet-name>
        <url-pattern>/antispam/*</url-pattern>
    </servlet-mapping>
</web-app>
